/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: myFirstFont;
    src: url(./assets/YanoneKaffeesatz-Regular.ttf);
}


body{
    font-family: myFirstFont, sans-serif;
    background-color: grey;
}